.form {
  position: relative;
  min-width: 40%;
  border: 1px solid white /* #282c34 */;
  padding: 20px 20px;
  margin-top: 100px;
}

.input {
  width: 90%;
  height: 30px;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
  margin: 10px auto;
  color: #000;
}
.btn {
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 10px;
  border: none;
  background-color: lightgreen;
  cursor: pointer;
}
.inputBlock {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.inputBlock > div:first-child {
  margin-left: 20px;
}
.inputBlock > div > span {
  color: lightcoral;
}
.inputWithIcon {
  margin-left: 20px;
  display: flex;
  text-align: left;
  align-items: center;
}
.inputWithIcon svg {
  margin-right: -40px;
  z-index: 2;
  margin-left: 10px;
}

.inputWithIcon input {
  padding-left: 30px;
  width: 90%;
  z-index: 1;
  margin: 10px 0 10px 15px;
}

.radioBlock {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.radioBlock > div {
  margin-left: 20px;
}
.radioBlock > div > span {
  color: lightcoral;
}
.radio {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 10px;
}

.error {
  border: 2px solid red;
}

.navBar {
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
}
.navBar ul {
  display: flex;
  justify-content: right;
}
.navBar ul li {
  list-style-type: none;
  margin-right: 20px;
}

.navBar ul li::after {
  margin-left: 20px;
  content: '|';
}
.navBar ul li:first-child::before {
  margin-right: 20px;
  content: '|';
}

.navBar a {
  color: aliceblue;
  text-decoration: none;
}
.navBar a:hover {
  color: aquamarine;
}

.Login {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}
.navBar ul li::after {
  margin-left: 20px;
  content: '|';
}
.navBar ul li:first-child::before {
  margin-right: 20px;
  content: '|';
}

.navBar a {
  color: aliceblue;
  text-decoration: none;
}
.navBar a:hover {
  color: aquamarine;
}
